<header class="header_area fixed_menu">
    <div class="top_menu">
        <div class="container">
            <div class="row m0 justify-content-between">
                <div class="left_text">
                    <a href="#">Live Chat US</a>
                    <a href="tel:+000-999-999">Customer Support: +000-999-999</a>
                </div>
                <div class="right_text">
                    <select class="dollar">
                        <option>USD</option>
                        <option value="1">EURO</option>
                        <option value="2">RS</option>
                        <option value="3">GRB</option>
                    </select>
                    <select class="lan">
                        <option>English</option>
                        <option value="1">Bangla</option>
                        <option value="2">India</option>
                        <option value="3">Aus</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="main_menu_three">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown submenu active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                                <li><a href="index-3.html">Home 03</a></li>
                                <li><a href="index-4.html">Home 04</a></li>
                                <li><a href="index-5.html">Home 05</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="track.html">Track</a></li>
                                <li><a href="listing-collection.html">Listing Collecion</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="coming-soon.html">Comming Soon</a></li>
                                <li><a href="404.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="product-grid-3.html">Product 01</a></li>
                                <li><a href="product-grid-4.html">Product 02</a></li>
                                <li><a href="product-left-sidebar.html">Product Left Sidebar</a></li>
                                <li><a href="product-right-sidebar.html">Product Right Sidebar</a></li>
                                <li><a href="product-details.html">Product Details 01</a></li>
                                <li><a href="product-details-2.html">Product Details 02</a></li>
                                <li><a href="shoping-cart.html">Shoping Cart 01</a></li>
                                <li><a href="shoping-cart-2.html">Shoping Cart 02</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">News</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="single-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="about-us.html"><i class="mdi mdi-magnify"></i></a></li>
                        <li><a href="about-us.html"><i class="mdi mdi-cart-outline"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>